@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.office
{
  height: 100vh;
  width: 100%;
  background-image: url(green.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.menu
{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.Starbucks
{
  width: 80px;
  cursor: pointer;
}

nav
{
  flex: 1;
  padding-left: 60px;
}

nav ul li
{
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

nav ul li a
{
  text-decoration: none;
  color: #333;
}

.text
{
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 15px;
}

.text .button
{
  display: inline-block;
  background: linear-gradient(45deg, #519a7b, #9adfc2);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94,28,68,0,15);
}




















