<!DOCTYPE html>

<head>
    <title>Starbucks Cashier</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>




<h1 class="colorblock red" align="center">Starbucks Cashiers App</h1>

<!-- FORM SECTION -->
<form align ="center" name="form" th:object="${command}" method="post" action="">
	

  



    <p>
    <table id="msg" align="center" style="width:40%">
      <tr>
        <td>
          <pre id="pre">
          <span th:text="${message}" />
          </pre>
        </td>
      </tr>
    </table>
    </p>





 
    <p align="center"> <img src="Starbucks.jpg" width="200" height="200"/></p>
    <label for="drink">Drink :</label>

  <input type="text" id="drink" name="drink"><br><br>
  <label for="Size">Size:</label>

  <input type="text" id="size" name="size"><br><br>

  <label for="milk">Milk:</label>

  <input type="text" id="milk" name="milk"><br><br>

  <label for="total">Total:</label>

  <input type="total" id="total" name="total"><br><br>

  <label for="name">Name:</label>
  <input type="name" id="name" name="name"><br><br>







    <br/>
    <p align="center">
        <br/>
        <br/>
        <br/>
        <input type="submit" name="action" id="GetOrder" value="Get Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="action" id="PlaceOrder" value="Place Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="action" id="ClearOrder" value="Clear Order">
    </p>
</form>
<!-- END FORM SECTION -->




<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<table align="center" style="width:100%" >

</table>

</body>
</html>