<!DOCTYPE html>

<head>
    <title>Starbucks Cashier</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1 align="center">Starbucks Cashiers App</h1>

<!-- FORM SECTION 
<form name="form" th:object="${command}" method="post" action="">

  <input type="hidden" name="state" id="state" th:field="*{state}" />
  <input type="hidden" name="ts" id="ts" th:field="*{timestamp}" />
  <input type="hidden" name="hash" id="hash" th:field="*{hash}" />

    <p>
    <table id="msg" align="center" style="width:40%">
      <tr>
        <td>
          <pre id="pre">
          <span th:text="${message}" />
          </pre>
        </td>
      </tr>
    </table>
    </p>-->

 
    <p align="center"> <img src="Starbucks.jpg" width="200" height="200"/></p>

    <br/>
    <p align="center">
        <br/>
        <br/>
        <br/>
        <input type="submit" name="action" id="GetOrder" value="Get Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="action" id="PlaceOrder" value="Place Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="action" id="ClearOrder" value="Clear Order">
    </p>
</form>
<!-- END FORM SECTION -->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<table align="center" style="width:100%" >

</table>

</body>
</html>