<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
		.box{
			width: 700px;
			height: 400px;
			background-color: red;
			background-image: url(img/card.png);
			background-repeat: no-repeat;
			text-align: center;
		}
		.box span{
			width: 0px;
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		.box .view{
			width: 200px;
			height: 200px;
			display: inline-block;
			vertical-align: middle;
			margin-right: -200px;
			margin-top: -100px;
		}
		.field{
			width: 200px;
		}
		.view{
			font-size: 16px;
		}

	</style>

</head>
<body>
	<div class="box">
		<span></span>
		<div class="view">
			<form name="activeCard" method="get">
				<p>Card Number: <input class="field" type="text" name="cardNumber" placeholder="card number" /></p>
				<p>Card Code: <input class="field" type="text" name="cardCode" placeholder="card code" /></p>
				<p><input type="submit" name="activeSub" value="Active Card"></p>
				<p>Active Successful</p>
			</form>
		</div>
	</div>


</body>
</html>